In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import scipy.stats as stats

In [24]:
conn = sqlite3.connect('punt_return_db.db')
video_footage_injury = pd.read_sql_query('SELECT * FROM video_footage_injury', conn)
game_data = pd.read_sql_query('SELECT * FROM game_data', conn)
injuries_NGS = pd.read_excel('injuries_NGS.xlsx')

In [25]:
#injuries = pd.read_sql_query('''SELECT GameKey, playid FROM video_footage_injury
#                              INNER JOIN game_data
#                              ON video_footage_injury.Week = game_data.Week
#                                  AND video_footage_injury.Home_Team = game_data.Home_team
#                                  AND video_footage_injury.Visit_Team = game_data.Visit_Team
#                                  AND video_footage_injury.season = game_data.Season_Year''', conn)
#injuries.to_sql('injuries', con=conn)

In [26]:
#injuries_NGS = pd.read_sql_query('''SELECT * FROM injuries
#                                    INNER JOIN NGS_2016_2017
#                                    ON injuries.GameKey = NGS_2016_2017.GameKey
#                                        AND injuries.playid = NGS_2016_2017.PlayID''', conn)
#injuries_NGS.to_excel('injuries_NGS.xlsx')

In [27]:
injuries_NGS

,Unnamed: 0,index,GameKey,playid,Season_Year,GameKey.1,PlayID,GSISID,Time,x,y,dis,o,dir,Event
0,0,2,29,538,2016,29,538,24221,2016-08-19 23:54:02.600,44.349998,-0.46,0.10,223.669998,332.239990,NaN
1,1,2,29,538,2016,29,538,24221,2016-08-19 23:54:02.700,44.340000,-0.36,0.10,223.990005,336.559998,NaN
2,2,2,29,538,2016,29,538,24221,2016-08-19 23:54:02.800,44.330002,-0.27,0.09,223.660004,341.070007,NaN
3,3,2,29,538,2016,29,538,24221,2016-08-19 23:54:02.900,44.340000,-0.18,0.09,222.699997,344.440002,NaN
4,4,2,29,538,2016,29,538,24221,2016-08-19 23:54:03.000,44.340000,-0.11,0.07,221.660004,345.799988,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425608,425608,36,618,2792,2017,618,2792,33945,2017-12-17 23:13:41.300,31.240000,9.87,0.17,326.290009,53.509998,NaN
425609,425609,36,618,2792,2017,618,2792,33945,2017-12-17 23:13:41.400,31.379999,9.98,0.17,322.519989,50.720001,NaN
425610,425610,36,618,2792,2017,618,2792,33945,2017-12-17 23:13:41.500,31.510000,10.09,0.18,318.709991,48.189999,NaN
425611,425611,36,618,2792,2017,618,2792,33945,2017-12-17 23:13:41.600,31.639999,10.21,0.17,314.809998,45.610001,NaN
425612,425612,36,618,2792,2017,618,2792,33945,2017-12-17 23:13:41.700,31.750000,10.32,0.16,311.040009,43.189999,play_submit